

/*--------------------------------------------------------------------------------------------------------------#
#------------------------------------------------Fuentes--------------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'SachaWynterTight';
    src: url('fonts/sachwt_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RingBearer';
    src: url('fonts/RINGM__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Harrington';
    src: url('fonts/HARNGTON.TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------------------------------------------------------#
#----------------------------------------------PseudoSelectors--------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------*/

:root {
	font-size: 90%;
}

/*--------------------------------------------------------------------------------------------------------------#
#----------------------------------------------SelectorUniversal--------------------------------------------------#
#---------------------------------------------------------------------------------------------------------------*/
* {
	font-family: RingBearer; 
}


/*-----------------------------------------------------------------------------------------------------------------#
#----------------------------------------------Selector de Etiquetas-----------------------------------------------#
#----------------------------------------------------Codigos <>---------------------------------------------------*/

h1 {
	color: brown;
    color: hsl(25, 50%, 40%); /* Un verde puro */
	
	/* Hue primarios:
	0 rojo
			30 naranja
		60 amarillo
			90 lima
	120 verde
			150 verdelindo
		180 cyan
			210 celeste
	240 azul 
			270 purpura
		300 magenta
			330 bordó
	
	*/
	
	font-size: 150%;
	font-family: RingBearer; 
}

h3 {
	color: rgb(206, 54, 34);
    color: hsl(40, 50%, 40%); /* Un verde puro */
	font-size: 85%;
	font-weight: 500;
	font-family: SachaWynterTight; 
}

form {
    width: auto; /* Fixed width, or you can use percentage */
    padding: 20px;
    border: 1px solid #ccc;
}




/*-----------------------------------------------------------------------------------------------------------------#
#----------------------------------------------Selector de Clases--------------------------------------------------#
#-----------------------------------------------------------------------------------------------------------------*/

.container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;  */
    
}

.content{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
}

.imagen_contenedor {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: auto;           /* Full height of the viewport */
    border-radius: 15px;     /* Rounds the corners */
    padding: 10px;           /* Adds some space inside the container */
}

.imagen_contenedor img {
    border-radius: 15px;      /* Rounds the corners of the image */
    max-width: 100%;          /* Makes the image responsive */
    height: auto;             /* Maintains the aspect ratio */
    border: 5px solid rgba(0, 128, 255, 0.6); /* Colored border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow around the image */
}


.form_contenedor {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: auto;           /* Full height of the viewport */
}

.form_label {
	font-family: SachaWynterTight;
	font-size: 55%;
}

.h3subtitulo {
	display: inline;
	font-family: SachaWynterTight;
	font-size: 75%;
	font-weight: 100;
	font-style: italic;
}




/*-----------------------------------------------------------------------------------------------------------------#
#----------------------------------------------Selector de ID's----------------------------------------------------#
#-----------------------------------------------------------------------------------------------------------------*/

#python-label {
	color: orange;
}